{{template "header" $}}

<main id="main">
  <form class="o-form" method="post" action="/edit/_new">
    {{$.csrfField}}
    <input type="hidden" name="page-folder" value="{{$.folder}}" />

    <div class="o-form__row">
      <div class="a-input">
        <label class="a-input__label" for="page-name">Page name</label>
        <input class="a-input__input" id="page-name" name="page-name" aria-describedby="page-name-description" type="text" required autofocus />
        <small class="a-input__description" id="page-name-description">Page will be created under {{$.folder}} unless an absolute path is given.</small>
      </div>
    </div>

    <div class="o-form__row">
      <button type="submit" class="a-btn">OK</button>
    </div>
  </form>
</main>

{{template "footer" $}}
