* {
  box-sizing: border-box;
}

%typo-default {
  font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
}

/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
%visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

html {
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  @extend %typo-default;
  margin: 0;
}

.l-commits,
.l-form,
.l-page,
.l-pages {
  margin: 0 auto;
  max-width: 920px;
  padding: 0 20px;
}

main {
  margin: 20px 0;

  @media (min-width: 768px) {
    margin: 30px;
  }
}

.a-aria-skip {
  position: absolute;
  top: -10000px;

  &:focus {
    top: 10px;
  }
}

.a-hl {
  &__anchor {
    display: none;
    opacity: 0;
    padding: 0 10px;
    position: absolute;
    text-decoration: none;
    transform: translateX(-100%);

    @media (min-width: 768px) {
      display: block;
    }

    @media print {
      display: none;
    }
  }

  &:hover &__anchor,
  &__anchor:focus {
    opacity: 1;
  }
}

.a-btn {
  appearance: none;
  background: #f7f7f7;
  background: linear-gradient(to bottom, #f4f4f4, #ececec);
  border-radius: 3px;
  border: 1px solid #d4d4d4;
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;

  &:hover {
    background: #3072b3;
    background: linear-gradient(to bottom, #599bdc, #3072b3);
    border-color: #518cc6 #518cc6 #2a65a0;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  }
}

.a-input {
  &__label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &--hidden-label &__label {
    @extend %visually-hidden;
  }

  &__input {
    @extend %typo-default;

    appearance: none;
    border-radius: 4px;
    border: 1px #ddd solid;
    font-size: 12px;
    height: 30px;
    padding: 5px 10px;
    width: 100%;

    &:disabled {
      background: #eee;
      color: #666;
    }
  }

  &__description {
    color: #666;
    display: block;
    margin-top: 5px;
  }
}

.a-alert {
  background: #fff3cd;
  border-radius: 3px;
  border: 1px solid #ffeeba;
  color: #856404;
  margin: 20px 0;
  padding: 0 1em;
}

.m-page-header {
  align-items: center;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 10px;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-top: 50px;
  }

  &__title {
    flex: 1 1 0%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__nav-list {
    display: flex;
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;

    @media (min-width: 768px) {
      margin: 0;
    }

    @media print {
      display: none;
    }
  }

  &__nav-list-item {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.m-page-content {
  pre,
  code,
  tt {
    background: #f8f8f8;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  pre,
  tt {
    overflow: auto;
    padding: 10px;
  }

  code {
    padding: 0 5px;
  }

  pre code {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
  }

  a.internal.absent {
    color: #c00;
  }
}

.m-page-footer {
  border-top: 1px solid #ddd;
  color: #999;
  font-size: 12px;
  margin: 20px 0;
  padding-top: 10px;
}

.m-breadcrumb {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item:not(:last-child)::after {
    content: '🥖';
    margin: 0 5px;
  }
}

.m-editor-header {
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    align-items: center;
    flex-direction: row;
  }

  &__nav {
    display: flex;
    width: 100%;
    padding: 10px;
  }

  &__nav-btn:not(:last-child) {
    margin-right: 10px;
  }

  &__nav-btn-preview {
    margin-left: auto;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .o-editor--show-preview &__nav-btn-preview-preview {
    display: none;
  }

  &__nav-btn-preview-editor {
    display: none;
  }

  .o-editor--show-preview &__nav-btn-preview-editor {
    display: inline;
  }

  &__loader {
    animation: m-editor-header__loader 0.5s infinite;
    border-color: #000 transparent #000 transparent;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    color: black;
    height: 25px;
    margin: 2.5px auto;
    visibility: hidden;
    width: 25px;

    @media (min-width: 768px) {
      margin: 2.5px;
    }

    &--visible {
      visibility: visible;
    }
  }

  &__form {
    align-self: normal;
    display: flex;
    margin: 0 10px 10px 10px;

    @media (min-width: 768px) {
      margin: 10px;
    }
  }

  &__form-input {
    flex: 1 1 0%;
    margin-right: 10px;

    @media (min-width: 768px) {
      width: 200px;
    }
  }
}

@keyframes m-editor-header__loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.o-editor {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__sidebyside {
    display: flex;
    flex: 1 1 0%;
    overflow: hidden;
  }

  &__editor,
  &__preview {
    flex: 1 0 50%;
    overflow: auto;
  }

  &--show-preview &__editor {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__preview {
    display: none;
    padding: 20px 50px;

    @media (min-width: 768px) {
      display: block;
    }

    .a-hl__anchor {
      display: none;
    }
  }

  &--show-preview &__preview {
    @media (max-width: 767px) {
      display: block;
    }
  }

  textarea {
    background: #272822;
    border: 0;
    color: #f8f8f2;
    font-family: monospace;
    font-size: 16px;
    height: 100%;
    line-height: 1.5;
    overflow: hidden;
    padding: 10px;
    width: 100%;
  }

  .CodeMirror {
    height: 100%;
    font-size: 16px;

    &-lines {
      padding: 15px 0;
    }

    &-line {
      padding: 0 15px 0 0;
    }

    &-gutter-elt {
      padding: 0 15px;
    }
  }
}

.o-form {
  @media (min-width: 768px) {
    margin: 0 auto;
    max-width: 400px;
  }

  &__row {
    margin-bottom: 20px;
  }
}
